@import "../utils/utils.scss";
@import "../utils/mixins.scss";

header {
    font-family: $font-title;
    text-align: center;
    padding: 8px;
    margin: 0;
    position: relative;
    @include box-shadow;
    & h1 {
        @media (max-width:1000px) {
            margin: 0;
        }
    }
}