@import "../utils/utils.scss";
@import "../utils/mixins.scss";
@import "../utils/animation.scss";

header {
    font-family: $font-title;
    text-align: center;
    padding: 8px;
    margin: 0;
    position: relative;
    @include box-shadow;
    & h1 {
        @media (max-width:1000px) {
            margin: 0;
        }
    }
}

// Home_page_charging

.charging{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: $color-tertiary;
    inset: 0;
    z-index: 1;
    opacity: 0.6;
    animation: charging_out 150ms 2s forwards;
    transform-origin: center;
    & .charging__spinner {
        width: 160px;
        height: 160px;
        display: grid;
        place-items: center;
        border: 16px solid $color-secondary;
        border-radius: 50%;
        border-top-color: $color-primary;
        border-bottom-color: $color-primary;
        animation: spinner 2s ease-in-out;
        animation-iteration-count: 2;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        & .fas{
            background-color: $color-tertiary;
            color: #fff;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
            
        }
    }
}
