.localisation {
    background-color: #e0e0e0;
    color: #4e4e4e;
    text-align: center;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    & i {
        font-size: 28px;
    }
}
