@import "../utils/mixins.scss";
@import "../components/button_gradient.scss";
@import "../components/card_menu.scss";

.menus{
    background: $color-grey;
    padding: 32px 24px;
    & h2{
        margin-bottom: 32px;
    }
    & .full-menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 32px;
        @include card-menu;
    }        
}
