@import "../utils/mixins.scss";
@import "../utils/utils.scss";

.nav__restaurant {
    padding: 24px 24px;

    & h2{
        margin-left: 26px;
    }

    & ol{
        display: flex;
        gap: 32px;
        @include desktop-down {
            flex-direction: column;
            padding-left: 5px;
        }
        @include vignet-nav;
    }    
}