@import "../utils/utils.scss";
@import "../components/components.scss";

.reservation{
    text-align: center;
    background-color: $color-grey;
    padding: 50px;
    & h2{
        margin-top: 0;
        font-size: 28px;
    }
    & p{
        font-size: 16px;
        margin: 40px 16px 40px 16px;
        color: #4e4e4e;
    }
    & button{
        @include master-button;
        &:hover{
            transform: scale(1.02);
            cursor: pointer;
            opacity: 0.9;
        }
    }
}


