@import "../utils/utils.scss";

.reservation{
    text-align: center;
    background-color: $color-grey;
    padding: 50px;
    & h2{
        margin-top: 0;
        font-size: 28px;
    }
    & p{
        font-size: 16px;
    }
    & button{
        color: #fff;
        background-image: linear-gradient(to top, $color-primary, $color-secondary);
        font-weight: 500;
        font-size: 24px;
        padding: 16px 32px;
        border: none;
        border-radius: 32px;
        box-shadow: 0 1px 8px 0 #000000;
        transition: transform 200ms;
        margin-top: 32px;
        &:hover{
            transform: scale(1.02);
            cursor: pointer;
            opacity: 0.9;
        }
    }
}


