@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
  min-width: 280px;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  padding: 8px;
  margin: 0;
  position: relative;
  box-shadow: 0px 3px 8px 1px #cecece;
}
@media (max-width: 1000px) {
  header h1 {
    margin: 0;
  }
}

.charging {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  animation: charging_out 150ms 2s forwards;
  transform-origin: center;
}
.charging .charging__spinner {
  width: 160px;
  height: 160px;
  display: grid;
  place-items: center;
  border: 16px solid #FF79DA;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spinner 2s ease-in-out;
  animation-iteration-count: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px;
}
.charging .charging__spinner .fas {
  background-color: #99E2D0;
  color: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px;
}

.localisation {
  background-color: #e0e0e0;
  color: #4e4e4e;
  text-align: center;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.localisation i {
  font-size: 28px;
}

.reservation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 50px;
}
.reservation h2 {
  margin-top: 0;
  font-size: 28px;
}
.reservation p {
  font-size: 16px;
  margin: 40px 16px 40px 16px;
  color: #4e4e4e;
}
.reservation button {
  color: #fff;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: 400;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.reservation button:hover {
  transform: scale(1.02);
  cursor: pointer;
  opacity: 0.9;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
.nav__restaurant {
  padding: 24px 24px;
}
.nav__restaurant h2 {
  margin-left: 26px;
}
.nav__restaurant ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 1000px) {
  .nav__restaurant ol {
    flex-direction: column;
    padding-left: 5px;
  }
}
.nav__restaurant ol li:hover i {
  color: #9356DC;
}
.nav__restaurant li {
  position: relative;
  background-color: #f2f2f2;
  padding: 28px 32px;
  flex-grow: 1;
  border-radius: 16px;
  cursor: pointer;
  list-style-type: none;
  transition: transform 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.nav__restaurant li:hover {
  transform: scale(1.02);
  background: #f2e8ff;
}
.nav__restaurant li i.fas {
  margin-right: 16px;
  color: grey;
  font-size: 24px;
}
.nav__restaurant li span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: -16px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
.menus {
  background: #f2f2f2;
  padding: 32px 24px;
}
.menus h2 {
  margin-bottom: 32px;
}
.menus .full-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
}
.menus .full-menus .alone-menu--new {
  position: relative;
}
.menus .full-menus .alone-menu--new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  line-height: 30px;
  right: 16px;
  top: 16px;
  border-radius: 3px;
}
.menus .full-menus .alone-menu {
  margin-bottom: 80px;
  min-height: 195px;
  min-width: 23%;
  position: relative;
}
@media (max-width: 1400px) {
  .menus .full-menus .alone-menu {
    min-width: 342px;
  }
}
@media (max-width: 350px) {
  .menus .full-menus .alone-menu {
    min-height: 175px;
    min-width: 260px;
  }
}
.menus .full-menus .alone-menu .container-heart {
  position: absolute;
  top: 226px;
  right: 39px;
}
.menus .full-menus .alone-menu__screen {
  background-size: cover;
  border-radius: 16px 16px 0 0;
  height: 100%;
}
.menus .full-menus .alone-menu .alone-menu__screen--menu-1 {
  background-image: url("images/menu-1.jpg");
}
.menus .full-menus .alone-menu .alone-menu__screen--menu-2 {
  background-image: url("images/menu-2.jpg");
}
.menus .full-menus .alone-menu .alone-menu__screen--menu-3 {
  background-image: url("images/menu-3.jpg");
}
.menus .full-menus .alone-menu .alone-menu__screen--menu-4 {
  background-image: url("images/menu-4.jpg");
}
.menus .full-menus .alone-menu__note {
  position: relative;
  background-color: #fff;
  padding: 4px;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.menus .full-menus .alone-menu__note h3, .menus .full-menus .alone-menu__note p {
  margin: 0px 8px 8px 8px;
}
.menus .full-menus .alone-menu__note h3 {
  padding-top: 8px;
}
.menus .full-menus .alone-menu__note:hover {
  background: #f2e8ff;
  color: #9356DC;
}
.menus .full-menus .alone-menu input[type=checkbox] {
  height: 14px;
  width: 14px;
  background-color: transparent;
  position: relative;
  outline: none;
  -webkit-box-shadow: inset -2px -2px 0px 0px black;
  -moz-box-shadow: inset -2px -2px 0px 0px black;
  box-shadow: inset -2px -2px 0px 0px black;
  transform: rotate(45deg);
  -webkit-appearance: none;
  cursor: pointer;
}
.menus .full-menus .alone-menu input[type=checkbox]:before {
  position: absolute;
  content: "";
  background-color: transparent;
  border: 2px solid black;
  border-bottom: none;
  height: 84%;
  width: 104%;
  top: -78%;
  border-radius: 75px 75px 0 0;
  right: 0;
}
.menus .full-menus .alone-menu input[type=checkbox]:after {
  position: absolute;
  content: "";
  background-color: transparent;
  border: 2px solid black;
  border-bottom: none;
  height: 87%;
  width: 108%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top: 3%;
  right: 79%;
}
.menus .full-menus .alone-menu input[type=checkbox]:checked {
  background-image: linear-gradient(135deg, #9356DC 30%, #FF79DA);
}
.menus .full-menus .alone-menu input:checked[type=checkbox]:before,
.menus .full-menus .alone-menu input:checked[type=checkbox]:after {
  background-color: #9356DC;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
}
footer a {
  padding: 6px;
}
footer a:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 12px;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}
header {
  position: relative;
}
header .return {
  position: absolute;
  top: 32px;
  left: 44px;
  font-size: xx-large;
}
@media (max-width: 1000px) {
  header .return {
    top: 10px;
    left: 14px;
  }
}
header .return:hover {
  color: #99E2D0;
}

.preview-meal {
  width: 100%;
  height: 562px;
  object-fit: cover;
  display: block;
}
@media (max-width: 1000px) {
  .preview-meal {
    height: 204px;
  }
}

main .box__heart--title {
  font-family: "Shrikhand", "cursive";
  margin: 30px auto 30px 15px;
  font-size: 30px;
}
@media (max-width: 280px) {
  main .box__heart--title {
    font-size: 24px;
  }
}

.box__heart {
  background-color: #f2f2f2;
  margin-top: -32px;
  border-radius: 32px 32px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.box__heart .container-heart {
  position: absolute;
  right: 47px;
  top: 39px;
  font-size: 32px;
}
@media (max-width: 280px) {
  .box__heart .container-heart {
    font-size: 26px;
  }
}
.box__heart input[type=checkbox] {
  height: 14px;
  width: 14px;
  background-color: transparent;
  position: relative;
  outline: none;
  -webkit-box-shadow: inset -2px -2px 0px 0px black;
  -moz-box-shadow: inset -2px -2px 0px 0px black;
  box-shadow: inset -2px -2px 0px 0px black;
  transform: rotate(45deg);
  -webkit-appearance: none;
  cursor: pointer;
}
.box__heart input[type=checkbox]:before {
  position: absolute;
  content: "";
  background-color: transparent;
  border: 2px solid black;
  border-bottom: none;
  height: 84%;
  width: 104%;
  top: -78%;
  border-radius: 75px 75px 0 0;
  right: 0;
}
.box__heart input[type=checkbox]:after {
  position: absolute;
  content: "";
  background-color: transparent;
  border: 2px solid black;
  border-bottom: none;
  height: 87%;
  width: 108%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top: 3%;
  right: 79%;
}
.box__heart input[type=checkbox]:checked {
  background-image: linear-gradient(135deg, #9356DC 30%, #FF79DA);
}
.box__heart input:checked[type=checkbox]:before,
.box__heart input:checked[type=checkbox]:after {
  background-color: #9356DC;
}

.category {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 16px 0 16px;
  gap: 16px;
}
@media (max-width: 1000px) {
  .category {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.category .alone-formula {
  margin-bottom: 50px;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .category .alone-formula {
    margin-bottom: 0;
  }
}
.category .alone-formula h3 {
  font-weight: initial;
  position: relative;
  margin: 25px 0 25px 0;
}
.category .alone-formula h3::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 43px;
  top: 26px;
  left: 2px;
  background-color: #99E2D0;
}
.category .alone-formula__completed {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 11px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 8px 1px #cecece;
  animation-name: fondue;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.category .alone-formula__completed:nth-child(1) {
  animation-delay: 200ms;
}
.category .alone-formula__completed:nth-child(2) {
  animation-delay: 400ms;
}
.category .alone-formula__completed:nth-child(3) {
  animation-delay: 600ms;
}
.category .alone-formula__completed:hover .alone-formula__description--check {
  margin-right: 0;
}
.category .alone-formula__completed:hover .alone-formula__description--check .fa-check-circle {
  animation: validate 500ms ease-in-out;
}
.category .alone-formula__completed .alone-formula__description {
  padding: 8px;
  overflow: hidden;
}
.category .alone-formula__completed .alone-formula__description h4,
.category .alone-formula__completed .alone-formula__description p {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category .alone-formula__completed .alone-formula__description .meal_bold {
  font-weight: 500;
}
.category .alone-formula__completed .alone-formula__description--price {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  font-weight: 900;
  margin-right: 20px;
}
.category .alone-formula__completed .alone-formula__description--check {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 16px 16px 0;
  margin-right: -68px;
  padding: 20px;
  font-size: 27px;
  transition: animation 500ms ease-in-out, margin-right 500ms;
}
.category .alone-formula__completed .alone-formula__description--check .fa-check-circle {
  color: #fff;
}
.category--button {
  color: #fff;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: 400;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
  grid-column: 2/3;
  margin: 32px auto 48px auto;
  transition: box-shadow 500ms, transform 500ms;
}
@media (max-width: 1000px) {
  .category--button {
    grid-column: 1/-1;
  }
}
.category--button p {
  margin: 0;
}
.category--button:hover {
  box-shadow: #26394d 0px 20px 30px -10px;
  transform: translate(0, 25%);
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fondue {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes charging_out {
  to {
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
