@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
  min-width: 280px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  padding: 8px;
  margin: 0;
  position: relative;
  box-shadow: 0px 3px 8px 1px #cecece;
}
@media (max-width: 1000px) {
  header h1 {
    margin: 0;
  }
}

.localisation {
  background-color: #e0e0e0;
  color: #4e4e4e;
  text-align: center;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.localisation i {
  font-size: 28px;
}

.reservation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 50px;
}
.reservation h2 {
  margin-top: 0;
  font-size: 28px;
}
.reservation p {
  font-size: 16px;
  margin: 40px 16px 40px 16px;
  color: #4e4e4e;
}
.reservation button {
  color: #fff;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: 400;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.reservation button:hover {
  transform: scale(1.02);
  cursor: pointer;
  opacity: 0.9;
}

.nav__restaurant {
  padding: 24px 24px;
}
.nav__restaurant h2 {
  margin-left: 26px;
}
.nav__restaurant ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 1000px) {
  .nav__restaurant ol {
    flex-direction: column;
    padding-left: 5px;
  }
}
.nav__restaurant ol li:hover i {
  color: #9356DC;
}
.nav__restaurant li {
  position: relative;
  background-color: #f2f2f2;
  padding: 28px 32px;
  flex-grow: 1;
  border-radius: 16px;
  cursor: pointer;
  list-style-type: none;
  transition: all 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.nav__restaurant li:hover {
  transform: scale(1.02);
  background: #f2e8ff;
}
.nav__restaurant li i.fas {
  margin-right: 16px;
  color: grey;
  font-size: 24px;
}
.nav__restaurant li span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: -16px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}

.menus {
  background: #f2f2f2;
  padding: 32px 24px;
}
.menus h2 {
  margin-bottom: 32px;
}
.menus__restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  line-height: 30px;
  right: 16px;
  top: 16px;
  border-radius: 3px;
}
.menus__restaurant--card {
  margin-bottom: 80px;
  min-height: 195px;
  min-width: 23%;
  transition: all 400ms;
}
@media (max-width: 1400px) {
  .menus__restaurant--card {
    min-width: 342px;
  }
}
@media (max-width: 350px) {
  .menus__restaurant--card {
    min-height: 175px;
    min-width: 260px;
  }
}
.menus__restaurant--card:hover {
  transform: scale(1.04);
}
.menus__restaurant--card .menus__restaurant--image {
  background-size: cover;
  border-radius: 16px 16px 0 0;
  height: 100%;
}
.menus__restaurant--card .menu-1 {
  background-image: url("images/menu-1.jpg");
}
.menus__restaurant--card .menu-2 {
  background-image: url("images/menu-2.jpg");
}
.menus__restaurant--card .menu-3 {
  background-image: url("images/menu-3.jpg");
}
.menus__restaurant--card .menu-4 {
  background-image: url("images/menu-4.jpg");
}
.menus__restaurant--card .menus__restaurant--note {
  position: relative;
  background-color: #fff;
  padding: 4px;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.menus__restaurant--card .menus__restaurant--note h3,
.menus__restaurant--card .menus__restaurant--note p {
  margin: 0px 8px 8px 8px;
}
.menus__restaurant--card .menus__restaurant--note h3 {
  padding-top: 8px;
}
.menus__restaurant--card .menus__restaurant--note i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 21px;
}
.menus__restaurant--card .menus__restaurant--note .heart__like {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menus__restaurant--card .menus__restaurant--note .heart__like:hover {
  opacity: 1;
  transform: scale(1.08);
}
.menus__restaurant--card .menus__restaurant--note .heart__like:active {
  color: red;
  transition: 0;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
}
footer a {
  padding: 6px;
}
footer a:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 12px;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
header {
  position: relative;
}
header .return {
  position: absolute;
  top: 38px;
  left: 44px;
  font-size: xx-large;
}
@media (max-width: 1000px) {
  header .return {
    top: 18px;
    left: 20px;
  }
}
header .return:hover {
  color: #99E2D0;
}

.preview__meal {
  width: 100%;
  height: 562px;
  object-fit: cover;
  display: block;
}
@media (max-width: 1000px) {
  .preview__meal {
    height: 204px;
  }
}

main .box__heart--title {
  font-family: "Shrikhand", "cursive";
  margin: 30px auto 30px 15px;
  font-size: 30px;
}
@media (max-width: 280px) {
  main .box__heart--title {
    font-size: 24px;
  }
}

.box__heart {
  background-color: #f2f2f2;
  margin-top: -32px;
  border-radius: 32px 32px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.box__heart i {
  position: absolute;
  right: 16px;
  top: 37px;
  font-size: 32px;
}
@media (max-width: 280px) {
  .box__heart i {
    font-size: 26px;
  }
}
.box__heart .heart__like {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.box__heart .heart__like:hover {
  opacity: 1;
  transform: scale(1.08);
}
.box__heart .heart__like:active {
  color: red;
  transition: 0;
}

.category {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 16px 0 16px;
  gap: 16px;
}
@media (max-width: 1000px) {
  .category {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.category__formula {
  margin-bottom: 50px;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .category__formula {
    margin-bottom: 0;
  }
}
.category__formula h3 {
  font-weight: initial;
  border-bottom: 3px solid #99E2D0;
  max-width: 48px;
  padding-bottom: 4px;
}
@media (max-width: 1000px) {
  .category__formula h3 {
    margin-bottom: 0;
  }
}
.category__formula--full {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 11px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.category__formula--full:hover .category__formula--check {
  margin-right: 0;
}
.category__formula--full:hover .category__formula--check .fa-check-circle {
  animation: validate 500ms ease-in-out;
}
.category__formula--meal {
  padding: 8px;
  overflow: hidden;
}
.category__formula--meal h4,
.category__formula--meal p {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__formula--price {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  font-weight: 900;
  margin-right: 20px;
}
.category__formula--check {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 16px 16px 0;
  margin-right: -68px;
  padding: 20px;
  font-size: 27px;
  transition: all 500ms;
}
.category__formula--check .fa-check-circle {
  color: #fff;
}
.category--button {
  color: #fff;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: 400;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
  grid-column: 2/3;
  margin: 32px auto 48px auto;
  transition: all 500ms;
}
@media (max-width: 1000px) {
  .category--button {
    grid-column: 1/-1;
  }
}
.category--button p {
  margin: 0;
}
.category--button:hover {
  box-shadow: #26394d 0px 20px 30px -10px;
  transform: translate(0, 25%);
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
