@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  padding: 8px;
  margin: 0;
  position: relative;
  box-shadow: 0px 3px 8px 1px #cecece;
}

.localisation {
  background-color: #e0e0e0;
  color: #4e4e4e;
  text-align: center;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.localisation i {
  font-size: 28px;
}

.reservation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 50px;
}
.reservation h2 {
  margin-top: 0;
  font-size: 28px;
}
.reservation p {
  font-size: 16px;
}
.reservation button {
  color: #fff;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  font-weight: 500;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 1px 8px 0 #000000;
  transition: transform 200ms;
  margin-top: 32px;
}
.reservation button:hover {
  transform: scale(1.02);
  cursor: pointer;
  opacity: 0.9;
}

.nav_restaurant {
  padding: 24px 24px;
}
.nav_restaurant h2 {
  margin-left: 26px;
}
.nav_restaurant ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 1000px) {
  .nav_restaurant ol {
    flex-direction: column;
    padding-left: 5px;
  }
}
.nav_restaurant ol li:hover i {
  color: #9356DC;
}
.nav_restaurant li {
  position: relative;
  background-color: #f2f2f2;
  padding: 28px 32px;
  flex-grow: 1;
  border-radius: 16px;
  cursor: pointer;
  list-style-type: none;
  transition: all 200ms;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.nav_restaurant li:hover {
  transform: scale(1.02);
  background: #f2e8ff;
}
.nav_restaurant li i.fas {
  margin-right: 16px;
  color: grey;
  font-size: 24px;
}
.nav_restaurant li span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: -16px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}

.menus {
  background: #f2f2f2;
  padding: 32px 24px;
}
.menus h2 {
  margin-bottom: 32px;
}
.menus__restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  line-height: 30px;
  right: 16px;
  top: 16px;
  border-radius: 3px;
}
.menus .card_restaurant {
  margin-bottom: 80px;
  min-height: 195px;
  min-width: 23%;
  transition: all 400ms;
}
@media (max-width: 1400px) {
  .menus .card_restaurant {
    min-width: 321px;
  }
}
@media (max-width: 400px) {
  .menus .card_restaurant {
    min-height: 175px;
    min-width: 260px;
  }
}
.menus .card_restaurant:hover {
  transform: scale(1.04);
}
.menus .card_restaurant .card__image {
  background-size: cover;
  border-radius: 16px 16px 0 0;
  height: 100%;
}
.menus .card_restaurant .menu-1 {
  background-image: url("images/menu-1.jpg");
}
.menus .card_restaurant .menu-2 {
  background-image: url("images/menu-2.jpg");
}
.menus .card_restaurant .menu-3 {
  background-image: url("images/menu-3.jpg");
}
.menus .card_restaurant .menu-4 {
  background-image: url("images/menu-4.jpg");
}
.menus .card_restaurant .card__info {
  position: relative;
  background-color: #fff;
  padding: 4px;
  border-radius: 0 0 16px 16px;
}
.menus .card_restaurant .card__info h3,
.menus .card_restaurant .card__info p {
  margin: 0px 8px 8px 8px;
}
.menus .card_restaurant .card__info h3 {
  padding-top: 8px;
}
.menus .card_restaurant .card__info i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 21px;
}
.menus .card_restaurant .card__info .heart_like {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menus .card_restaurant .card__info .heart_like:hover {
  opacity: 1;
  transform: scale(1.08);
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
}
footer a {
  padding: 6px;
}
footer a:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 12px;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.screen_resto {
  width: 100%;
  height: 562px;
  object-fit: cover;
  display: block;
}

main .title_individual {
  font-family: "Shrikhand", "cursive";
  margin: 30px auto 30px 15px;
  font-size: 30px;
}

.box_heart {
  background-color: #f2f2f2;
  margin-top: -32px;
  border-radius: 32px 32px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.box_heart i {
  position: absolute;
  right: 16px;
  top: 37px;
  font-size: 32px;
}
.box_heart .heart_like {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.box_heart .heart_like:hover {
  opacity: 1;
  transform: scale(1.08);
}

.box_food {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 16px 0 16px;
  gap: 16px;
}
@media (max-width: 1000px) {
  .box_food {
    grid-template-columns: 1fr;
  }
}
.box_food .group_food {
  margin-bottom: 50px;
}
.box_food .group_food h3 {
  font-weight: initial;
}
.box_food .bag_food {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 8px 1px #cecece;
}
.box_food .bag_food:hover .price_valid {
  margin-right: 0;
}
.box_food .bag_food:hover .price_valid .fa-check-circle {
  animation: validate 500ms ease-in-out;
}
.box_food .items_food {
  padding: 8px;
}
.box_food .items_food h4,
.box_food .items_food p {
  margin: 10px;
}
.box_food .price {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  font-weight: 900;
  margin-right: 20px;
}
.box_food .price_valid {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 16px 16px 0;
  margin-right: -68px;
  padding: 20px;
  font-size: 27px;
  transition: all 500ms;
}
.box_food .price_valid .fa-check-circle {
  color: #fff;
}

@keyframes validate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
