@import "../utils/mixins.scss";
@import "../utils/animation.scss";

// BUTTON GRADIENT

@mixin master-button {
    color: #fff;
    background-image: linear-gradient(to top, $color-primary, $color-secondary);
    font-weight: 400;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    transition: transform 200ms;
    @include box-shadow;
    @include desktop-down{
        font-size: 17px;
    }
    @include mobile-350{
        font-size: 10px;
    }
    
}

// VIGNET NAV RESTAURANT 

@mixin vignet-nav {
    & li{
        position: relative;
        background-color: $color-grey;
        padding: 28px 32px;
        flex-grow: 1;
        border-radius: 16px;
        cursor: pointer;
        list-style-type: none;
        transition: transform 200ms;
        @include box-shadow;
        @include mobile-350{
            font-size: 11px;
        }
        &:hover{
            @include transform;
            background: #f2e8ff;
            &:hover i{
                color: $color-primary;
            }
        }
        & i.fas{
            margin-right: 16px;
            color: grey; 
            font-size: 24px;
        }
        
            & span{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 24px;
                left: -16px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: $color-primary;
                color: #fff;
            }
        }
}

// CARD MENU

@mixin card-menu {
    & .alone-menu--new{
        position: relative;
    }
    & .alone-menu--new::before{
        content: "Nouveau";
        position: absolute;
        height: 32px;
        width: 80px;
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 40%);
        text-align: center;
        line-height: 30px;
        right: 16px;
        top: 16px;
        border-radius: 3px;
    }
    & .alone-menu{
        margin-bottom: 80px;
        min-height: 195px;
        min-width: 23%;
        position: relative;
        @include desktop-up{
            min-width: 342px;
        }
        @include mobile-350{
            min-height: 175px;
            min-width: 260px;
        }
        & .container-heart{
            position: absolute;
            top: 226px; 
            right: 39px    
        } 
              
        &__screen{
            background-size: cover;
            border-radius: 16px 16px 0 0;
            height: 100%;
        }

        @for $i from 1 through 4 {
            & .alone-menu__screen--menu-#{$i}{
                background-image: url("images/menu-#{$i}.webp");
                background-position: center;
            }
        }

        &__note{
            position: relative;
            background-color: #fff;
            padding: 4px;
            border-radius: 0 0 16px 16px;
            @include box-shadow;
            & h3, 
            & p {
                margin: 0px 8px 8px 8px;
            }
            & h3{
                padding-top: 8px;
            }
            &:hover{
                background: #f2e8ff;
                color: $color-primary
            }
        }
        @include heart;
    }
}