@import "../utils/transform.scss";

.function {
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        @media (max-width: 772px) {
            flex-direction: column;
        }
    }
    & li{
        background-color: #f6f6f6;
        padding: 20px 32px;
        flex-grow: 1;
        border-radius: 16px;
        cursor: pointer;
        @include box-shadow;
        &:hover{
            @include transform;
        }
    }
}

        
