@import "../utils/mixins.scss";

.nav_restaurant {
    padding: 24px 24px;

    & h2{
        margin-left: 26px;
    }

    & ol{
        display: flex;
        gap: 32px;
        @media (max-width: 1000px) {
            flex-direction: column;
            padding-left: 5px;
        }
        & li:hover i{
            color: $color-primary;
        }
    }

    & li{
        position: relative;
        background-color: $color-grey;
        padding: 28px 32px;
        flex-grow: 1;
        border-radius: 16px;
        cursor: pointer;
        list-style-type: none;
        transition: all 200ms;
        @include box-shadow;
        &:hover{
            @include transform;
            background: #f2e8ff;
        }
        & i.fas{
            margin-right: 16px;
            color: grey; 
            font-size: 24px;
        }
        
            & span{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 24px;
                left: -16px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: $color-primary;
                color: #fff;
            }
        }
}