@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import "../utils/utils.scss";
@import "../utils/animation.scss";

*,
::before,
::after{
    box-sizing: border-box;
}

body{
    font-family: $font-txt;
    margin: 0;
    min-width: 280px;
    & a{
        text-decoration: none;
        color: inherit;
    }
}

//HOME PAGE CHARGING

  .charging {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  gap: 8px;
  inset: 0;
  z-index: 4;
  opacity: 0.8;
  animation: charging_out 150ms 3s forwards;
  }

  .bar {
        @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
    width: 10px;
    height: 70px;
    background: $color-tertiary;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s infinite;
    animation-timing-function: cubic-bezier(.16,.17,1,.36); 
  }