@import "../utils/mixins.scss";
@import "../utils/utils.scss";
@import "../utils/animation.scss";

header{
    position: relative;
    & .return{
        position: absolute;
        top: 32px;
        left: 44px;
        font-size: xx-large;
        @media (max-width: 1000px){
            top: 10px;
            left: 14px;
        }
        &:hover{
            color: $color-tertiary;
        }
    }
}

.preview-meal{
    width: 100%;
    height: 562px;
    object-fit: cover;
    display: block;
    @media (max-width:1000px){
        height: 204px;
    }

}

main{
    & .box__heart--title{
        font-family: $font-title;
        margin: 30px auto 30px 15px;
        font-size: 30px;
        @media (max-width: 280px){
            font-size: 24px;
        }
    }
}

.box__heart{
    background-color: $color-grey;
    margin-top: -32px;
    border-radius: 32px 32px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;   
    & .container-heart{
        position: absolute;
        right: 47px;
        top: 39px;
        font-size: 32px;
        @media (max-width: 280px){
            font-size: 26px;
        }       
    }
    @include heart;
}

.category{
    background-color: $color-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 16px 0 16px;
    gap: 16px;
    @media (max-width:1000px){
        grid-template-columns: 1fr;
        gap: 0;
    }
    & .alone-formula{
        margin-bottom: 50px;
        overflow: hidden;
        white-space: nowrap;
        @media (max-width:1000px){
            margin-bottom: 0;
        }
        & h3{
            font-weight: initial;
            position: relative;
            margin: 25px 0 25px 0;
            &::after{
                content: "";
                position: absolute;
                height: 4px;
                width: 43px;
                top: 26px;
                left: 2px;
                background-color: $color-tertiary;
            }
    }
    &__completed{
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 200ms * $i;                
            } 
        }
        display: flex;
        flex-direction: row;
        background-color: #fff;
        margin: 11px;
        border-radius: 16px;
        overflow: hidden;
        @include box-shadow;
        animation-name: fondue;
        animation-duration: 1s;
        animation-fill-mode: both;
        &:hover .alone-formula__description--check{
            margin-right: 0;
            & .fa-check-circle{
                animation: validate 500ms ease-in-out;
            }
        }
        & .alone-formula__description {
            padding: 8px;
            overflow: hidden;
            & h4, 
            p{
                margin: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & .meal_bold{
                font-weight: 500;
            }
        }
        & .alone-formula__description--price {
            display: flex;
            margin-left: auto;
            align-items: flex-end;
            font-weight: 900;
            margin-right: 20px;
        }
        & .alone-formula__description--check{
            display: flex;
            align-items: center;
            background-color: $color-tertiary;
            border-radius: 0 16px 16px 0;
            margin-right: -68px;
            padding: 20px;
            font-size: 27px;
            transition: animation 500ms ease-in-out, margin-right 500ms;
            & .fa-check-circle{
                color: #fff;
            }
        }
    }
    }
    &--button {
        @include master-button;
        grid-column: 2 / 3;
        margin: 32px auto 48px auto;
        transition: box-shadow 500ms, transform 500ms;
        @media (max-width:1000px){
            grid-column: 1 / -1;
        }
        & p{
            margin: 0;
        }
        &:hover{
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transform: translate(0, 25%);
        }
    }
}