@import "../utils/mixins.scss";
@import "../utils/utils.scss";
@import "../utils/animation.scss";

.preview__meal{
    width: 100%;
    height: 562px;
    object-fit: cover;
    // object-position: bottom;
    display: block;
    @media (max-width:1000px){
        height: 204px;
    }

}

main{
    & .box__heart--title{
        font-family: $font-title;
        margin: 30px auto 30px 15px;
        font-size: 30px;
        @media (max-width: 280px){
            font-size: 24px;
        }
    }
}

.box__heart{
    background-color: $color-grey;
    margin-top: -32px;
    border-radius: 32px 32px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;   
    & i{
        position: absolute;
        right: 16px;
        top: 37px;
        font-size: 32px;
        @media (max-width: 280px){
            font-size: 26px;
        }       
    }
    @include heart;
}

.category{
    background-color: $color-grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 16px 0 16px;
    gap: 16px;
    @media (max-width:1000px){
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    &__formula{
        margin-bottom: 50px;
        overflow: hidden;
        white-space: nowrap;
        @media (max-width:1000px){
            margin-bottom: 0;
        }
        & h3{
            font-weight: initial;
            border-bottom: 3px solid $color-tertiary;
            max-width: 48px;
            padding-bottom: 4px;
            @media (max-width:1000px){
                margin-bottom: 0;            
        }
    }
    }
    &__formula--full{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        margin: 11px;
        // padding: 8px;
        border-radius: 16px;
        overflow: hidden;
        @include box-shadow;
        &:hover .category__formula--check{
            margin-right: 0;
            & .fa-check-circle{
                animation: validate 500ms ease-in-out;
            }
        }
    }
    &__formula--meal {
        padding: 8px;
        overflow: hidden;
        & h4, 
        p{
            margin: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__formula--price {
        display: flex;
        margin-left: auto;
        align-items: flex-end;
        font-weight: 900;
        margin-right: 20px;
    }
    &__formula--check{
        display: flex;
        align-items: center;
        background-color: $color-tertiary;
        border-radius: 0 16px 16px 0;
        margin-right: -68px;
        padding: 20px;
        font-size: 27px;
        transition: all 500ms;
        & .fa-check-circle{
            color: #fff;
        }
    }
    &--button{
        grid-column: 2 / 3;
        background-image: linear-gradient($color-secondary, $color-primary);
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: 16px 48px 16px 48px;
        margin: 32px auto 48px auto;
        border-radius: 26px;
        transition: all 500ms;
        @include box-shadow;
        @media (max-width:1000px){
            grid-column: 1 / -1;
        }
        & p{
            margin: 0;
        }
        &:hover{
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transform: translate(0, 25%);
        }
    }
}