// Price_check

@keyframes validate {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

// Animation_page

@keyframes fondue {
    from {
        transform: translateY(50%); 
        opacity:0;
    }
    to {
        transform: translateY(0); 
        opacity:1;
    }
}

// Home page charging 


@keyframes charging_out {
    to{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: transparent;
    }
    50% {
      transform: scaleY(1);
      background-image: linear-gradient($color-primary, $color-secondary);
    }
    100% {
      transform: scaleY(0.1);
      background: #fff;
    }
  }