// Price_check

@keyframes validate {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

// Animation_page

@keyframes fondue {
    from {
        transform: translateY(50%); 
        opacity:0;
    }
    to {
        transform: translateY(0); 
        opacity:1;
    }
}

// Home_page_charging

@keyframes spinner {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(0.5) rotate(-360deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}


@keyframes charging_out {
    to{
        transform: scale(0);
        opacity: 0;
        border-radius: 50%;
    }
}