// Price_check

@keyframes validate {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

// Animation_page

@keyframes fondue {
    0% {
        -webkit-transform: translateY(7px);
        transform: translateY(7px); opacity:0;
    }
    50% {
        -webkit-transform: translateY(2.5px);
        transform: translateY(2.5px); opacity:0.5;
    }
    100% {
        -webkit-transform: translateY(-2.5px);
        transform: translateY(-2.5px); opacity:1;
    }
}