@import "../utils/animation.scss";
@import "../utils/utils.scss";

// Transform

@mixin transform {
    transform: scale(1.02);
}

// Box_shadow

@mixin box-shadow {
    box-shadow: 0px 3px 8px 1px #cecece;
}

// Media_Queries

@mixin desktop-up {
  @media (max-width: 1400px) { @content; }
}

@mixin desktop-down {
  @media (max-width: 1000px) { @content; }
}

@mixin mobile-350 {
  @media (max-width: 350px) { @content; }
}

@mixin mobile-fold {
  @media (max-width: 280px) { @content; }
}

// HEART MENU MASTER

@mixin heart-position{
  .far {
    position: absolute;
    font-size: 37px;
    top : 213px;
    right: 26px;
    z-index :2;
    @include mobile-350{
      top: 193px;
    }
    
  }
  
  [id="heart"],[id="heart-1"],[id="heart-2"],[id="heart-3"] {
    position: absolute;
    left: -100vw;
  }
  
  [for="heart"],[for="heart-1"],[for="heart-2"],[for="heart-3"] {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 214px;
    right: 28px;
    font-size: 32px;
    transition: color 0.2s ease-in-out;
    z-index: 3;
    @include mobile-350{
      top: 194px;
    }
  }
}

// HEART MENU INDIVIDUAL

@mixin heart-position-individual {
    .far {
      position: absolute;
      font-size: 37px;
      top : 32px;
      right: 21px;
      z-index :2;
      
    }
    
    [id="heart-4"],[id="heart-5"],[id="heart-6"],[id="heart-7"] {
      position: absolute;
      left: -100vw;
    }
    
    [for="heart-4"],[for="heart-5"],[for="heart-6"],[for="heart-7"] {
      color: #fff;
      cursor: pointer;
      position: absolute;
      top: 33px;
      right: 23px;
      font-size: 32px;
      transition: color 0.2s ease-in-out;
      z-index: 3;
    }
  }

    // HEART COLOR 

  @mixin heart-color {
    [for="heart"]:hover,[for="heart-1"]:hover,[for="heart-2"]:hover,[for="heart-3"]:hover,
    [for="heart-4"]:hover,[for="heart-5"]:hover,[for="heart-6"]:hover,[for="heart-7"]:hover {
      color: $color-grey;
    }
    
    [id="heart"]:checked + label,[id="heart-1"]:checked + label ,[id="heart-2"]:checked + label,[id="heart-3"]:checked + label,
    [id="heart-4"]:checked + label,[id="heart-5"]:checked + label ,[id="heart-6"]:checked + label,[id="heart-7"]:checked + label {
      background-image: linear-gradient($color-primary,$color-secondary);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      will-change: font-size;
    }
  }