@import "../utils/animation.scss";
@import "../utils/utils.scss";
@import "../components/vignet_nav_restaurant.scss";

// Transform

@mixin transform {
    transform: scale(1.02);
}

// Box_shadow

@mixin box-shadow {
    box-shadow: 0px 3px 8px 1px #cecece;
}

// Media_Queries

@mixin desktop-up {
  @media (max-width: 1400px) { @content; }
}

@mixin desktop-down {
  @media (max-width: 1000px) { @content; }
}

@mixin mobile-350 {
  @media (max-width: 350px) { @content; }
}

@mixin mobile-fold {
  @media (max-width: 280px) { @content; }
}

// HEART MENU MASTER

@mixin heart-position{
  .far {
    position: absolute;
    font-size: 37px;
    top : 213px;
    right: 26px;
    z-index :2;
    @include mobile-350{
      top: 193px;
    }    
    }
      
    label{
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 214px;
    right: 28px;
    font-size: 32px;
    transition: color 0.2s ease-in-out;
    z-index: 3;
    @include mobile-350{
      top: 194px;
    }
  }
}


// HEART MENU INDIVIDUAL

@mixin heart-position-individual {
    .far {
      position: absolute;
      font-size: 37px;
      top : 32px;
      right: 21px;
      z-index :2;
      
    }
    
    label{
      color: #fff;
      cursor: pointer;
      position: absolute;
      top: 33px;
      right: 23px;
      font-size: 32px;
      transition: color 0.2s ease-in-out;
      z-index: 3;
    }
  }

    // HEART COLOR 

    input{
      position: absolute;
      left: -100vw;
    }

  @mixin heart-color {
      input:checked + label{
      background-image: linear-gradient($color-primary,$color-secondary);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      will-change: font-size;
    }
  }